# SPDX-FileCopyrightText: © OpenShot Studios, LLC
#
# SPDX-License-Identifier: LGPL-3.0-or-later

# A CODEOWNERS file indicates to GitHub which committer(s) should be
# considered the owners of specific files/subtrees within the repo.
# Owners will be automatically review-requested on any PR that changes
# files they own.

/.github/ @ferdnyc

/.gitlab-ci.yml @ferdnyc
/.gitignore @ferdnyc
/.gitattributes @ferdnyc
/codecov.yml @ferdnyc

/.reuse @ferdnyc
/LICENSES @ferdnyc

CMakeLists.txt @ferdnyc
/cmake/ @ferdnyc

/tests/*.cpp @ferdnyc

